/** layout **/
html,
body {
    height: 100%;
    /*background: url('/img/bg/network-2402637.jpg') center center;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.ab-navwrap {
        z-index: 10000;
        position: fixed;
        width: 100%;
        height: 40px;
        background: #333333;
        color: #ddd;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
}

#header,
#contents,
#copyright {
        padding-top: 20px;
        background: #f5f5f5;
}

#copyright {
        border-top: 1px solid #ddd;
}

/** adminbar **/
.ab-navwrap ul {
        list-style: none;
}

.ab-navwrap ul li a:link,
.ab-navwrap ul li a:active,
.ab-navwrap ul li a:visited {
        color: #ddd;
        text-decoration: none;
}

.ab-navwrap ul li a:hover {
        color: #ffffff;
}

.ab-navwrap > ul {
        display: inline-block;
        padding: 0;
        line-height: 28px;
        font-size: 14px;
}
.ab-navwrap > ul > li {
        display: inline-block;
        float: left;
}

.ab-navwrap > ul > li > a,
.ab-navwrap > ul > li > span {
        display: inline-block;
        padding: 6px 6px;
}

.ab-nav-default {
        display: inline-block;
        float: left;
        margin-left: 20px;
}

.ab-nav-secondary {
        display: inline-block;
        float: right;
        margin-right: 20px;
}

/* logo */
.logowrap {
        position: relative;        
        width: 100%;
        height: 100px;
        padding-top: 40px;
}

/* primary-nav */
.pr-navwrap {
        position: relative;        
        width: 100%;
        height: 40px;
        background: #333333;
}

.pr-navwrap .pr-nav {
        margin: 45px 0 0 0;
}

.pr-navwrap ul {
        list-style: none;
        margin: 0;
        padding: 0;
}
.pr-navwrap ul li a {
        color: #ddd;
        text-decoration: none;
        font-weight: 400;
}

.pr-navwrap > ul > li {
        display: inline-block;
        float: left;
}

.pr-navwrap > ul > li > a {
        display: inline-block;
        height: 40px;
        padding: 0 15px;
        line-height: 40px;
        font-size: 15px;
        text-indent: 5px;
}

.pr-navwrap > ul > li > a:link,
.pr-navwrap > ul > li > a:active,
.pr-navwrap > ul > li > a:link {
        color: #ddd;
}

.pr-navwrap > ul > li > a:hover {
        color: #00892b;
        background: #191E23;
}

.pr-navwrap ul ul {
        display: none;
        width: 160px;
        padding: 5px 0;
        background: #32373C;
}

.pr-navwrap ul ul li a {
        display: block;
        width: 100%;
        line-height: 30px;
        color: #bbb;
        font-size: 14px;
        text-indent: 10px;
}

.pr-navwrap ul ul li a:link
.pr-navwrap ul ul li a:active
.pr-navwrap ul ul li a:visited {
        
}

.pr-navwrap ul ul li a:hover {
        color: #00892b;
}

.pr-nav > .active {
        color: #ffffff;
        background: #0073AA;
}

.pr-nav > .active ul {
        display: block;
}

.nav-over {
        color: #00892b;
        background: #191E23;
}

/* list */
#contents { }
#content { clear: both; display: table; width: 100%; }
#content .list-title { clear: both; margin: 40px 0 0; padding: 10px 0; height: 45px; line-height: 25px; font-size: 25px; font-weight: 700; }
#content .list-view { clear: both; display: table; margin: 30px 0 0; width: 100%; }
#list-summary { clear: both; padding: 0 10px 5px; text-align: right; }
.list-view .list-table { clear: both; width: 100%; background-color: #f0f0f0; }
.list-table .list-row { clear: both; border-bottom: 1px dotted #777777; }
.list-row th { padding: 7px 0; line-height: 21px; font-size: 14px; text-align: center; }
.list-row td { padding: 5px 0; line-height: 20px; font-size: 13px; text-align: center; }
.list-row .empty { width: 100%; height: 100px; line-height: 100px; font-size: 18px; text-align: center; }
.list-row .th-number { width: 10%; text-align: center; }
.list-row .number { width: 10%; text-align: center; }
.list-row .checkbox { width: 30px; text-align: center; }
.list-row .checkbox input { display: inline; }
.list-row .title { text-align: left; }
.list-row .th-writer { width: 10%; text-align: center; }
.list-row .writer { width: 10%; text-align: center; }
.list-row .th-date { width: 10%; text-align: center; }
.list-row .date { width: 10%; text-align: center; }
.list-row .th-counter { width: 10%; text-align: center; }
.list-row .counter { width: 10%; text-align: center; }

/* Request password Reset Token */
#content .cont-title { clear: both; margin: 40px 0 0; padding: 10px 0; height: 45px; line-height: 25px; font-size: 25px; font-weight: 700; }

/* library */
.list-row .th-file { width: 10%; text-align: center; }
.list-row .file { width: 10%; text-align: center; }

/* view-content css */
#content .viewwrap { clear: both; display: table; margin: 30px 0 0; width: 100%; }
.viewwrap .view-titlewrap { clear: both; display: block; }
.view-titlewrap .view-title { width: 100%; height: 50px; padding: 10px 10px; line-height: 30px; font-size: 20px; }
.view-titlewrap .article-info { display: block; height: 40px; border-top: 1px dotted #d0d0d0; padding: 10px 10px; line-height: 20px; font-size: 13px; }
.viewwrap .file-content { clear: both; display: block; padding: 60px 10px 10px; }
.viewwrap .view-content { clear: both; display: block; padding: 20px 10px; word-break: break-all; }

/* list button css */
#content .list-buttons { clear: both; padding: 40px 10px 10px; }
.list-buttons .btn-list { border-radius: 4px; background-color: #162955; }
.list-buttons .btn-write { margin-left: 2px; border-radius: 4px; background-color: #162955; }
.list-buttons .btn-list:link,
.list-buttons .btn-list:active,
.list-buttons .btn-list:visited,
.list-buttons .btn-write:link,
.list-buttons .btn-write:active,
.list-buttons .btn-write:visited { padding: 4px 10px; color: #d0d0d0; font-size: 13px; }
.list-buttons .btn-list:hover { color: #ffffff; }
.list-buttons .btn-write:hover { color: #ffffff; }

/* view button group css */
#content .view-button-group { clear: both; display: block; padding: 40px 10px 10px; }
.view-button-group .btn-list { margin-left: 2px; border-radius: 4px; background-color: #162955; }
.view-button-group .btn-delete { margin-right: 2px; border-radius: 4px; background-color: #520008; }
.view-button-group .btn-write { border-radius: 4px; background-color: #162955; }
.view-button-group .btn-list:link,
.view-button-group .btn-list:active,
.view-button-group .btn-list:visited,
.view-button-group .btn-write:link,
.view-button-group .btn-write:active,
.view-button-group .btn-write:visited,
.view-button-group .btn-delete:link,
.view-button-group .btn-delete:active,
.view-button-group .btn-delete:visited { padding: 4px 10px; color: #d0d0d0; font-size: 13px; }
.view-button-group .btn-list:hover,
.view-button-group .btn-delete:hover,
.view-button-group .btn-write:hover { color: #ffffff; }

/* search form css */
#content .searchform-wrap { clear: both; width: 100%; padding: 20px 0; font-size: 13px; }
.searchform-wrap .searchform { clear: both; width: 340px; margin: 0 auto; }
.searchform .searchfield-wrap { float: left; width: 100px; height: 25px; }
.searchfield-wrap select { float: left; width: 100%; height: 100%; }
.searchform .searchtext-wrap { float: left; width: 186px; height: 25px; margin-left: 2px; }
.searchtext-wrap input { float: left; width: 100%; height: 100%; }
.searchform .btn-search { float: left; width: 50px; height: 25px; margin-left: 2px; border: 0; border-radius: 4px; color: #d0d0d0; background-color: #520008; }
.searchform .btn-search:hover { color: #ffffff; }

/* jumbtron */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
